header {
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: greenyellow s;
}


html,body {
    font-family: fantasy;
    text-align: center;
    color: hotpink;
}

h1{
    align-items: center;
    background-color: greenyellow;
}

