header {
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: greenyellow s;
}


body {
    background-image: url("https://images.unsplash.com/photo-1513151233558-d860c5398176?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
    background-attachment: fixed;
    background-size: cover;
    margin: auto;
    width: 50%;
    padding-top: 10%;

    
}

h1{
    align-items: center;
    background-color: greenyellow;
}

