a {
  color: #2c70ae;
  text-decoration: none;
  transition: color 0.1s;
}

body {
    background-image: url("https://images.wallpapersden.com/image/download/pokemon-pikachu-art_a25tbW6UmZqaraWkpJRmbmdlrWZlbWU.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #2c70ae;
    margin: auto;
    width: 50%;
    padding-top: 10%;
    padding-bottom: 10%;
  }

.start {
  background-color: #3d7dca;
  border-radius: 10px;
  border-style: solid;
  border-width: thick;
  border-color: #ffcb05;
  box-shadow: 0px 2px 10px 2px;
  width: 750px;

}

.start h1 {
  color: #ffcb05;

}

.start p {
  color: #ffcb05;
  font-size: 20px;
  font-weight: 700;
}  

.scores {
 background-color: #ffcb05;
 border-radius: 10px;
 border-style: solid;
 border-width: thick;
 border-color: #3d7dca;
 margin-bottom: 10px;
 box-shadow: 0px 2px 10px 2px;
 width: 750px;
}

.scoreboard {
  background-color: #3d7dca;
  border-radius: 10px;
  border-style: solid;
  border-width: thick;
  border-color: #ffcb05;
  box-shadow: 0px 2px 10px 2px;
  width: 750px;
}

.scoreboard h1 {
  color: #ffcb05;
}

.scoreboard ol {
  color: #ffcb05;
  font-size: 20px;
  font-weight: 700;
}

.guessPkm {
  background-color: #3d7dca;
  border-radius: 10px;
  border-style: solid;
  border-width: thick;
  border-color: #ffcb05;
  box-shadow: 0px 2px 10px 2px;
  width: 750px;
}

.guessPkmST {
  background-color: #ffcb05;
  border-radius: 10px;
  border-style: solid;
  border-width: thick;
  border-color: #3d7dca;
  margin-bottom: 10px;
  box-shadow: 0px 2px 10px 2px;
  width: 750px;
 }

.guessPkmST p {
  color: #3d7dca;
  font-size: 20px;
  margin-left: 20px;
  margin-top: 10px;
}

button {
  background: #fff;
  border: none;
  color: #3d7dca;
  font-weight: 600;
  font-size: 14px;
  padding: 10px 30px;
  margin: 10px;
  border-radius: 10px;
  text-transform: uppercase;
  box-shadow: 0px 1px 5px 1px;
  cursor: pointer;
  transition: all .2s ease-out;
}

button:hover {
  box-shadow: 0px 4px 10px 4px;
  background-color: #ffcb02;
}

button:active {
  box-shadow: 0px 4px 10px 4px;
  background-color: #ffcb02;
}

.menuBtn button {
  background: #fff;
  border: none;
  color: #3d7dca;
  font-weight: 600;
  font-size: 14px;
  margin: 10px;
  border-radius: 10px;
  text-transform: uppercase;
  box-shadow: 0px 1px 5px 1px;
  cursor: pointer;
  transition: all .2s ease-out;
  transition-duration: 0.4s;
}

.menuBtn button:hover {
  box-shadow: 0px 4px 10px 4px;
  background-color: #ffcb02;
}

#pokemon-image {
  transform: scale(2.5);
  animation: wiggle 1.5s infinite;
}

.style {
  filter: brightness(100%);
}

.style2 {
  filter: brightness(0);
}

@keyframes wiggle {
  0% { transform: rotate(0deg); }
  80% { transform: rotate(0deg); }
  85% { transform: rotate(6deg); }
  95% { transform: rotate(-6deg); }
  100% { transform: rotate(0deg); }
}

.scoreboard-li{
  list-style-type: none;
}
  