a {
  color: #073B4C;
  text-decoration: none;
  transition: color 0.1s;
}

body {
  margin: auto;
  width: auto;
  height: auto;
  font-family: 'Dongle', sans-serif;
  font-size: 25px;
  background-color: #000000;
  }

button {
  background: #ffffff;
  border: thin;
  color: #073B4C;
  font-weight: 600;
  font-size: 30px;
  padding: 15px 30px;
  margin: 8px;
  border-radius: 10px;
  text-transform: uppercase;
  box-shadow: 0px 1px 5px 1px;
  cursor: pointer;
  transition: all .2s ease-out;
}

button:active {
  box-shadow: 0px 4px 10px #ffffff;
  background-color: #EF476F;
}

button:hover {
  box-shadow: 0px 4px 10px #ffffff;
  background-color: #EF476F;
}

.backgroundImg {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  width: auto;
  height: auto;
}

.startMenu {
  background-image: url(../img/AdobeStock_469248894.JPEG);
  background-size: auto;
  background-repeat: no-repeat;
  border-radius: 10px;
  border-style: dotted;
  border-width: thick;
  border-color: #ffffff;
  box-shadow: 1px 1px 5px #ffffff;
  width: 80%;
  margin: 8% auto auto auto;

}

.scores {
  background-image: url(../img/AdobeStock_469248894.JPEG);
  background-size: auto;
  background-repeat: no-repeat;
  border-radius: 10px;
  border-style: dotted;
  border-width: thick;
  border-color: #ffffff;
  box-shadow: 0px 0px 5px #ffffff;
  width: 80%;
  margin: 2% auto 10% auto;
}

.scoreboard {
  background-image: url(../img/AdobeStock_469248894.JPEG);
  background-size: auto;
  background-repeat: no-repeat;
  border-radius: 10px;
  border-style: dotted;
  border-width: thick;
  border-color: #ffffff;
  box-shadow: 0px 0px 5px #ffffff;
  width: 80%;
  margin: 30% auto 30% auto;
}

.triviaHead {
  background-image: url(../img/AdobeStock_469248894.JPEG);
  background-size: auto;
  background-repeat: no-repeat;
  border-radius: 10px;
  border-style: dotted;
  border-width: thick;
  border-color: #ffffff;
  box-shadow: 0px 0px 5px #ffffff;
  width: 80%;
  margin: 25% auto auto auto;
}

.triviaGame {
  background-image: url(../img/AdobeStock_469248894.JPEG);
  background-size: auto;
  background-repeat: no-repeat;
  border-radius: 10px;
  border-style: dotted;
  border-width: thick;
  border-color: #ffffff;
  box-shadow: 0px 0px 5px #ffffff;
  width: 80%;
  margin: 1% auto 25% auto;
}


#triviaHeadS {
  color: #EF476F;
  font-family: 'Mochiy Pop P One';
  font-size: 30px;
  margin-top: 30px;
}

#triviaHeadT {
  color: #EF476F;
  font-family: 'Mochiy Pop P One';
  font-size: 30px;
  margin-bottom: 10px;
}

#triviaHeadImg {
  height: 175px;
  width: 250px;
  border-radius: 10px;
  margin-left: 550px;
  margin-top: -145px;
}

#menuImg {
  height: 300px;
  width: 375px;
  border-radius: 10px;
  margin: 5% auto 5% auto;
  box-shadow: 1px 1px 5px #ffffff;
}

.triviaQuestions{
  min-height: 250px;
}

#triviaTitle {
  color: #EF476F;
  font-family: 'Mochiy Pop P One';
  font-size: 60px;

}

#quiz-question {
  color: #EF476F;
  font-family: 'Mochiy Pop P One';
  font-size: 30px;
  margin-bottom: 15px;
  margin-top: 30px;
}

#button-answers button {
  color: #073B4C;
  font-size: 25px;
  font-weight: 500px;
}

.startMenu ul {
  color: #FFD166;
  font-size: 35px;
  font-weight: 600;
  list-style-type: none;
}  

#triviaHead {
  color: #EF476F;
  font-size: 35px;
  font-weight: 700;
  margin-left: 20px;
  margin-top: 10px;
}

#scoreboardHeader {
  color: #EF476F;
  font-family: 'Mochiy Pop P One';
  font-size: 60px;
  margin: 15px;

}

.scoreboard-li{
  list-style-type: none;
  font-family: 'Mochiy Pop P One';
  font-size: 30px !important;
  color: #EF476F;
}
